<!--Footer Electricirty Buisness-->
<footer class="bg-light text-dark py-3 border-top border-primary">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center">
            <a href="#" class="text-dark mx-3 text-decoration-none">Mentions légales</a>
            <a href="#" class="text-dark mx-3 text-decoration-none">Politique cookies</a>
            <a href="#" class="text-dark mx-3 text-decoration-none">Données personnelles</a>
            <a href="#" class="text-dark mx-3 text-decoration-none">Accessibilité</a>
            <span class="mx-3">L'énergie est notre avenir, économisons-la !</span>
        </div>
    </div>
</footer>