<h2>Tableau de bord</h2>

<div class="container vh-100">

    <!--Zone stats-->
    <div class="row bg-secondary rounded mt-5">
        <h5>Ce mois-ci</h5>

        <div class="col d-flex justify-content-between">

            <!--Image et montant : montant gagné-->
            <div class="montantGagne">
                <img src="#" alt="image monnaie" />
                <p class="nbrGagne">250 €</p>
            </div>

            <!--Nombre de voiture rechargée-->
            <div class="nbrDeVoitureRechargees">
                <img src="#" alt="dessin voiture" />
                <p class="nbrVoitures">10 recharges</p>
            </div>

            <!--Nombre de KW consommés-->
            <div class="nbrDeWatts">
                <img src="#" alt="dessin eclaire" />
                <p class="nbrDeWatts">180 kw</p>
            </div>

        </div>
    </div>

    <!--Zone choix-->
    <div class="row mt-5">

        <!--Mes bornes-->
        <div class="col">
            <div class="mesBornes bg-primary rounded">
                <img src="#" alt="mes bornes" />
                <p class="mesBornes">Mes <br />bornes</p>
            </div>
            <!--Demandes à traiter-->
            <div class="demandes bg-primary rounded">
                <img src="#" alt="demandes a traiter" />
                <p class="demandes">Demandes <br />à traiter</p>
            </div>
        </div>

        <div class="col">
            <!--Réservations en cours-->
            <div class="reservationsEnCours bg-primary rounded">
                <img src="#" alt="reservations en cours" />
                <p class="">Réservations <br />en cours</p>
            </div>
            <!--Réservations passées-->
            <div class="reservationsPassees bg-primary rounded">
                <img src="#" alt="reservations passees" />
                <p class="">Réservations <br />passées</p>
            </div>
        </div>
    </div>
</div>