<!--Récapitulatif d'une réservation-->
<div class="container">
    <div class="row">

        <!--Zone map-->
        <div class="col-6 border border-secondary border-3">
            <img src="assets/imgMapPourBase.png" alt="imagetest">
        </div>

        <!--Zone prêt à recharger-->
        <div class="row">
            <div class="col d-flex align-items-center">
                <div>
                    <h5>Prêt à recharger !</h5>
                    <div class="col d-flex">
                        <div class="col d-flex">
                            <i class="bi bi-calendar-week"></i>
                            <p class="ps-3">Date value</p>
                        </div>
                        <div class="d-flex">
                            <i class="bi bi-clock ps-3"></i>
                            <p class="ps-3">Heure value</p>
                        </div>
                    </div>
                </div>
                <p class="fw-bold">23 €</p>
            </div>
        </div>

        <!--Zone adresse-->
        <div class="row">
            <div class="col d-flex">
                <i class="bi bi-geo-alt"></i>
                <p class="ps-3">Adresse value</p>
            </div>
        </div>

        <!--Zone référence borne-->
        <div class="row">
            <div class="col d-flex">
                <i class="bi bi-tag"></i>
                <p class="ps-3">Ref borne value</p>
            </div>
        </div>

        <!--Zone type de borne-->
        <div class="row">
            <div class="col d-flex">
                <i class="bi bi-ev-station"></i>
                <p class="ps-3">Type de borne value</p>
            </div>
        </div>

        <!--Puissance borne-->
        <div class="row">
            <div class="col d-flex">
                <i class="bi bi-lightning"></i>
                <p class="ps-3">Puissance borne value</p>
            </div>
        </div>

        <!--Bouton ok-->
        <div class="row">
            <div class="col">
                <button class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>