<!--Récapitulatif d'une réservation-->
<div class="container">
    <div class="row">

        <!--Zone map-->
        <div class="col">
            <img src="assets/imgMapPourBase.png" alt="imagetest">
        </div>

        <!--Zone prêt à recharger-->
        <div clas="row">
            <div class="col d-flex">
                <div>
                    <h5>Prêt à recharger !</h5>
                    <p>date et heure</p>
                </div>
                <p>23 €</p>
            </div>
        </div>
    </div>
</div>