<!--Carte pour la demande de réservations-->

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">

            <div class="bg-primary rounded">

                <!--Référence borne-->
                <div class="row">
                    <p class="ms-5 mt-3 text-white">EB1257</p>
                </div>

                <!--Date de début et de fin de la demande-->
                <div class="row">
                    <div class="col text-center">
                        <div class="bg-dark bg-opacity-25 d-inline-block px-4 py-3 rounded">
                            <p class="dateDebut mb-0 text-white">Du 15 janvier 2026 14 h 00</p>
                            <p class="dateFin mb-0 text-white">Du 15 janvier 2026 14 h 00</p>
                        </div>
                    </div>
                </div>

                <!--Nom de la borne et statut de celle-ci-->
                <div class="row ">
                    <div class="col d-flex justify-content-around">
                        <p class="nomBorne mb-0 text-white">Nom borne</p>
                        <p class="statut mb-0 text-white">Statut : value</p>
                    </div>
                </div>

                <!--Adresse de la borne-->
                <div class="row">
                    <div class="col">
                        <p class="ms-5 my-3 text-white adresseBorne">Adresse : 222 Bd Gustave Flaubert,<br />
                            63000 Clermont-Ferrand</p>
                    </div>
                </div>

                <!--Réservation demande par et gain estimé-->
                <div class="row">
                    <div class="col d-flex justify-content-around align-items-center">
                        <p class="demandePar mb-0 text-white">Demandée par : value locataire</p>
                        <div class="bg-light p-2 rounded">
                            <p class="gainEstime mb-0 text-primary text-center fw-bold">Gain estimé <br />
                                value gain</p>
                        </div>
                    </div>
                </div>

                <!--Boutons accepter et refuser-->
                <div class="row my-4">
                    <div class="col d-flex justify-content-around align-items-center">
                        <button class="btn btn-success fw-semibold" type="submit">Accepter</button>
                        <button class="btn btn-danger fw-semibold" type="submit">Refuser</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>