<!--Formulaire de réservation-->
<div class="container my-5">
    <div class="row justify-content-center">

        <!-- Colonne formulaire -->
        <div class="col-md-6 bg-primary rounded p-4">
            <h2 class="text-light text-center mb-4">Réserver une borne</h2>
            <form class="d-flex flex-column align-items-center">

                <!--Chercher une borne-->
                <div class="mb-3 w-100 position-relative">
                    <input type="text" class="form-control pe-4" id="chercherBorne" placeholder="Chercher une borne">
                    <i class="bi bi-crosshair position-absolute"
                        style="top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"></i>
                </div>


                <!--Ligne Date de début-->
                <div class="mb-3 w-100 position-relative">
                    <input type="text" class="form-control pe-4" id="dateDebut" placeholder="Date de début">
                    <i class="bi bi-calendar position-absolute"
                        style="top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"></i>
                </div>

                <!--Ligne heure de début-->
                <div class="mb-3 w-100 position-relative">
                    <input type="text" class="form-control pe-4" id="heureDebut" placeholder="Heure de début">
                    <i class="bi bi-clock position-absolute"
                        style="top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"></i>
                </div>

                <!--Ligne Date de fin-->
                <div class="mb-3 w-100 position-relative">
                    <input type="text" class="form-control pe-4" id="dateFin" placeholder="Date de fin">
                    <i class="bi bi-calendar position-absolute"
                        style="top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"></i>
                </div>

                <!--Ligne heure de fin-->
                <div class="mb-3 w-100 position-relative">
                    <input type="text" class="form-control pe-4" id="heureFin" placeholder="Heure de fin">
                    <i class="bi bi-clock position-absolute"
                        style="top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"></i>
                </div>

                <!--Montant à régler-->
                <div class="mb-3 w-100 position-relative">
                    <input type="text" class="form-control pe-4" id="montant" placeholder="">
                    <i class="bi bi-currency-euro position-absolute"
                        style="top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"></i>
                </div>


                <!--Bouton Réserver t-->
                <button type="submit" class="btn btn-light fw-bold text-uppercase w-50">Reserver</button>
            </form>
        </div>
    </div>
</div>