<!--Formulaire de contact--> <!--Penser à facto les erreurs avec un component dedié-->
<div class="container my-5">
    <div class="row justify-content-center">

        <!-- Colonne formulaire -->
        <div class="col-md-6 bg-primary rounded p-4">
            <h2 class="text-light text-center mb-4">Nous contacter</h2>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center">

                <!--Ligne Prénom-->
                <div class="mb-3 w-100">
                    <input type="text" class="form-control" id="prenom" placeholder="Prénom" formControlName="prenom">
                    @if (contactForm.get('prenom')?.invalid && contactForm.get('prenom')?.touched) {
                    <div class="text-warning small">
                        @if (contactForm.get('prenom')?.errors?.['required']) {
                        <span>Prénom obligatoire.</span>
                        }
                        @if (contactForm.get('prenom')?.errors?.['pattern']) {
                        <span>Entrez un prénom valide.</span>
                        }
                    </div>
                    }
                </div>

                <!--Ligne Nom-->
                <div class="mb-3 w-100">
                    <input type="text" class="form-control" id="nom" placeholder="Nom" formControlName="nom">
                    @if (contactForm.get('nom')?.invalid && contactForm.get('nom')?.touched) {
                    <div class="text-warning small">
                        @if (contactForm.get('nom')?.errors?.['required']) {
                        <span>Nom obligatoire.</span>
                        }
                        @if (contactForm.get('nom')?.errors?.['pattern']) {
                        <span>Entrez un nom valide</span>
                        }
                    </div>
                    }
                </div>

                <!--Ligne email-->
                <div class="mb-3 w-100">
                    <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                    @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
                    <div class="text-warning small">
                        @if (contactForm.get('email')?.errors?.['required']) {
                        <span>Email obligatoire.</span>
                        }
                        @if (contactForm.get('email')?.errors?.['email']) {
                        <span>Entrez un email valide</span>
                        }
                    </div>
                    }
                </div>

                <!--Ligne téléphone-->
                <div class="mb-3 w-100">
                    <input type="tel" inputmode="numeric" class="form-control" id="telephone" placeholder="Téléphone"
                        formControlName="telephone">
                    @if (contactForm.get('telephone')?.invalid && contactForm.get('telephone')?.touched) {
                    <div class="text-warning small">
                        @if (contactForm.get('telephone')?.errors?.['required']) {
                        <span>Numéro de telephone obligatoire.</span>
                        }
                        @if (contactForm.get('telephone')?.errors?.['pattern']) {
                        <span>Veuillez entrer un numéro de téléphone valide.</span>
                        }
                    </div>
                    }
                </div>

                <!--Message-->
                <div class="mb-3 w-100">
                    <label for="message" class="form-label text-light">Votre message</label>
                    <textarea id="message" name="message" rows="5" class="form-control"
                        formControlName="message"></textarea>
                    @if (contactForm.get('message')?.invalid && contactForm.get('message')?.touched) {
                    <div class="text-warning small">
                        @if (contactForm.get('message')?.errors?.['required']) {
                        <span>Message obligatoire.</span>
                        }
                        @if(contactForm.get('message')?.errors?.['minlength']) {
                        <span>Message de 10 caractères minimum.</span>
                        }
                        @if(contactForm.get('message')?.errors?.['maxlength']) {
                        <span>Message de 500 caractères maximum.</span>
                        }
                    </div>
                    }
                </div>

                <!--Bouton Enregistrer/Submit-->
                <button type="submit" class="btn btn-light fw-bold w-50" [disabled]="!submitEnabled">Envoyer</button>
            </form>
        </div>
    </div>
</div>