<!--Note pour plus tard faire venir les components des autres zones dans ce component-->
<!--Zone 1-->
<div class="container-lg my-5">
    <div class="row">
        <div class="col-12 d-flex">
            <div class="col-7 ">
                <h1 class="fs-1">Branches ensemble et partout</h1>
            </div>
            <div class="col-5">
                <img src="assets/borne_page_principale.png" alt="Borne classique" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<!--Zone 2-->
<div class="container-lg my-0 bg-primary">
    <div class="row">
        <div class="col nbDeBornes">
            <h2 class="text-light">35 000</h2> <!--à voir pour rendre dynamique-->
            <p class="text-light">bornes en France</p>
        </div>
        <div class="col vehiculesChargesParJour">
            <h2 class="text-light">3 230</h2> <!--à voir pour rendre dynamique-->
            <p class="text-light">véhicules chargés par jour </p>
        </div>
    </div>
</div>

<!--Zone 3-->
<div class="container-lg my-0">
    <div class="row">
        <div class="col">
            <h3 class="fw-bold">Recharger, c'est bien.<br />Sans attente, c'est mieux.</h3>
            <p>C’est suite à ce postulat qu’Electricity Buisness a vu le jour. Grâce à notre réseau de bornes chez les
                particuliers plus aucun risque d’être à court de jus partout sur le territoire.
                Et adieu les attentes interminables sur les airs de recharge. En une simple réservation,
                votre véhicule sera rechargé.
                Rapide, efficace ! </p>
        </div>
        <div class="col">
            <img src="" alt="Image à venir"> <!--Ajouter image zone 3-->
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-primary fw-bold">Réserver une borne</button>
        </div>
    </div>
</div>

<!--Zone 4-->
<div class="container-lg my-0">
    <div class="row">
        <div class="col">
            <img src="" alt="Image à venir"> <!--Ajouter image zone 3-->
        </div>
        <div class="col">
            <h3 class="fw-bold">Booster son porte-monnaie
                en partageant sa borne</h3>
            <p>Vous possédez une borne de recharge pour véhicule électrique ? Pourquoi ne pas en faire une source de
                revenus ?
                En la mettant à disposition des conducteurs, vous leur offrez une solution pratique tout en
                rentabilisant votre installation.
                Fixez vos disponibilités, gérez vos tarifs, et contribuez à l’expansion du réseau Electricity Buisness.
                Une borne qui recharge, c’est bien.
                Une borne qui rapporte, c’est mieux !
                Rejoignez la communauté et commencez à monétiser votre borne dès aujourd’hui.</p>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-primary fw-bold">Louer votre borne</button>
        </div>
    </div>
</div>

<!--Zone 5-->
<div class="container-lg my-0">
    <!--Titre-->
    <div class="row">
        <div class="col d-flex justify-content-start">
            <h3 class="fw-bold">La recharge qui <br /> s'adapte à vos besoin</h3>
        </div>
    </div>
    <!--Zone PowerBoost-->
    <div class="row">
        <div class="col">
            <div class="col">
                <h4 class="fw-bold">PowerBoost</h4>
                <h5 class="fw-semibold">La recharge optimisée</h5>
            </div>
            <p>La PowerBoost est idéale pour recharger en toute tranquillité.
                Avec une puissance de 11 kW, elle offre un équilibre parfait entre rapidité et optimisation de
                l’énergie.
                Elle permet de récupérer jusqu’à 100% d’autonomie en
                environ 5 heures, selon le type de véhicule.</p>
            <div class="row">
                <div class="col-12 d-flex justify-content-around">
                    <div class="col-6">
                        <p>Recharge intelligente et sécurisée</p>
                    </div>
                    <div class="col-6">
                        <p>Compatible avec la plupart des véhcules électrique</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <img src="" alt="Image à venir"> <!--Ajouter image-->
            </div>
        </div>
    </div>
</div>