<!--Carte borne-->

<div class="container">

    <div class="row justify-content-center">

        <div class="col-12 col-md-6 col-lg-4">

            <div class="bg-primary rounded-5 p-3 my-3">

                <div class="row justify-content-end me-2">
                    <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
                </div>

                <div class="row">
                    <div class="col d-flex justify-content-center mt-1">
                        <h6 class="text-white">Nom de la borne</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-3">
                        <p class="adresse text-center text-white">222 Bd Gustave Flaubert <br />63000 Clermont-Ferrand
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6"> <img src="assets/photoBorne.png" class="imgBorne w-100"
                            alt="image votre borne" />
                    </div>

                    <div class="col-6">
                        <p class="refBorne text-center text-white my-4">Borne : EB1257</p>
                        <p class="tarifHoraire text-center text-primary mb-2 bg-white fw-semibold rounded my-4">Tarif:
                            4.20/h
                        </p>

                        <!--Modifier la borne-->
                        <a [routerLink]="['/modifier_borne']" class="modifier-borne-link">
                            <div class="zoneModifier d-flex align-items-center justify-content-center my-4">
                                <i class="bi bi-gear text-white fs-4 me-2"></i>
                                <p class="modifier text-white mb-0">Modifier</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>