<!--Page réserver une borne-->

<div class="container">
    <div class="row align-items-center">
        <!-- Colonne pour la map -->
        <div class="col-12 col-md-3 mb-3 mb-md-0 d-flex justify-content-center">
            <img src="assets/imgMapPourBase.png" alt="map" class="img-fluid" style="max-width: 130%;">
        </div>

        <!-- Colonne pour le formulaire -->
        <div class="col-12 col-md-9">
            <app-reservation-form></app-reservation-form>
        </div>
    </div>
</div>