<!--Carte pour la demande de réservations-->

<div class="container bg-primary rounded">

    <!--Référence de la réservation-->
    <div class="row">
        <p class="text-white">EB1257</p>
    </div>

    <!--Date de début et de fin de réservation-->
    <div class="row">
        <div class="col text-center">
            <p class="dateDebut mb-0 text-white">Du 15 janvier 2026 14 h 00</p>
            <p class="dateFin text-white">Du 15 janvier 2026 14 h 00</p>
        </div>
    </div>

    <!--Nom de la borne & Statut de la réservation-->


</div>