<!--Formulaire d'inscription à Electricity Buisness-->
<div class="container my-5">
    <div class="row align-items-center">

        <!-- Colonne zone vide -->
        <div class="col-md-2 zoneFormRegister">
        </div>

        <!-- Colonne formulaire -->
        <div class="col-md-7 bg-primary rounded">
            <h2 class="text-light text-center my-4">Créer un compte</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <!--Ligne Prénom et nom-->
                <div class="row zonePrenomEtNom">
                    <div class="col-6 mb-3">
                        <label for="prenom" class="form-label"></label>
                        <input type="text" class="form-control" id="prenom" placeholder="Prenom"
                            aria-describedby="PrenomInscription" formControlName="prenom" appCapitalizeName>
                        @if (registerForm.get('prenom')?.invalid && registerForm.get('prenom')?.touched) {
                        <div class="text-warning small">
                            @if (registerForm.get('prenom')?.errors?.['required']) {
                            <span>Prénom obligatoire.</span>
                            }
                            @if (registerForm.get('prenom')?.errors?.['pattern']) {
                            <span>Entrez un prénom valide.</span>
                            }
                        </div>
                        }
                    </div>
                    <div class="col-6 mb-3">
                        <label for="nom" class="form-label"></label>
                        <input type="text" class="form-control" id="nom" placeholder="Nom" formControlName="nom"
                            appCapitalizeName aria-describedby="NomInscription">
                        @if (registerForm.get('nom')?.invalid && registerForm.get('nom')?.touched) {
                        <div class="text-warning small">
                            @if (registerForm.get('nom')?.errors?.['required']) {
                            <span>Nom obligatoire.</span>
                            }
                            @if (registerForm.get('nom')?.errors?.['pattern']) {
                            <span>Entrez un nom valide.</span>
                            }
                        </div>
                        }
                    </div>
                </div>

                <!--Ligne email-->
                <div class="mb-3">
                    <label for="email" class="form-label text-light"></label>
                    <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email"
                        appEmailNormalize aria-describedby="EmailInscription">
                    @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
                    <div class="text-warning small">
                        @if (registerForm.get('email')?.errors?.['required']) {
                        <span>Email obligatoire.</span>
                        }
                        @if (registerForm.get('email')?.errors?.['email']) {
                        <span>Entrez un email valide</span>
                        }
                    </div>
                    }
                </div>

                <!--Ligne téléphone et date de naissance-->
                <div class="row zoneNumeroEtDateDeNaissance">
                    <div class="col-6 mb-3">
                        <label for="telephone" class="form-label"></label>
                        <input type="tel" inputmode="numeric" class="form-control" id="telephone"
                            placeholder="Téléphone" formControlName="telephone" (input)="onTelephoneInput($event)"
                            aria-describedby="TelephoneInscription">
                        @if (registerForm.get('telephone')?.invalid && registerForm.get('telephone')?.touched) {
                        <div class="text-warning small">
                            @if (registerForm.get('telephone')?.errors?.['required']) {
                            <span>Numéro de telephone obligatoire.</span>
                            }
                            @if (registerForm.get('telephone')?.errors?.['pattern']) {
                            <span>Veuillez entrer un numéro de téléphone valide.</span>
                            }
                        </div>
                        }
                    </div>
                    <div class="col-6 mb-3">
                        <label for="dateDeNaissance" class="form-label"></label>
                        <input type="date" class="form-control" id="dateDeNaissance" formControlName="dateDeNaissance"
                            aria-describedby="DateDeNaissanceInscription">
                        <div class="text-warning small">
                            @if (registerForm.get('dateDeNaissance')?.errors?.['required']) {
                            <span>Date de naissance obligatoire</span>
                            }
                        </div>
                    </div>
                </div>

                <!--Ligne adresse-->
                <div class="mb-3">
                    <label for="adresse" class="form-label"></label>
                    <input type="text" class="form-control" id="adresse" placeholder="Adresse" formControlName="adresse"
                        aria-describedby="AdresseInscription">
                </div>

                <!--Ligne ville et code postal-->
                <div class="row zoneVilleEtCodePostal">
                    <div class="col-6 mb-3">
                        <label for="ville" class="form-label"></label>
                        <input type="text" class="form-control" id="ville" placeholder="Ville" formControlName="ville"
                            aria-describedby="VilleInscription">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="codepostal" class="form-label"></label>
                        <input type="number" class="form-control" id="codepostal" placeholder="Code postal"
                            formControlName="codePostal" aria-describedby="CodePostalInscription">
                    </div>
                </div>

                <!--Ligne mot de passe-->
                <div class="mb-3">
                    <label for="motdepasse" class="form-label text-light"></label>
                    <input type="password" class="form-control" id="motdepasse" placeholder="Mot de passe"
                        formControlName="motDePasse">
                </div>

                <!--Ligne confirmation mot de passe-->
                <div class="mb-3">
                    <label for="confirmationmotdepasse" class="form-label text-light"></label>
                    <input type="password" class="form-control" id="confirmationmotdepasse"
                        placeholder="Confirmation mot de passe" formControlName="confirmationMotDePasse">
                </div>

                <!--Ligne Checkbox-->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="checkbox" formControlName="checkbox">
                    <label class="form-check-label text-light" for="checkbox">
                        J’accepte la politique de
                        confidentialité
                    </label>
                </div>

                <!--Bouton Enregistrer/Submit-->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-light my-4">S'enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>